<ion-header>
  <ion-toolbar>
    <ion-item>
      <app-avatar [user]="contact"></app-avatar>
      <ion-title>
        {{contact?.name}}
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" *ngIf="mensages">
  <div *ngFor="let msg of mensages">
    <app-message-bubble [user]="contact" [message]="msg"></app-message-bubble>
  </div>
</ion-content>
<ion-footer>
  <ion-item class="container">
    <ion-item button>
      <ion-icon name="happy-outline"></ion-icon>
    </ion-item>
    <ion-item button>
      <ion-icon name="folder-outline"></ion-icon>
    </ion-item>
    <ion-textarea (ionInput)="typing($event)" [clearOnEdit]="true" class="custom" type="text" placeholder="Mensagem" #txtaMsg></ion-textarea>
    <ion-item button (click)="sendMessage(txtaMsg)"><ion-icon name="send"></ion-icon></ion-item>
  </ion-item>
</ion-footer>
