<ion-header>
  <ion-toolbar>
    <ion-item *ngIf="contact()">
      <app-avatar [user]="contact()"></app-avatar>
      <ion-title *ngIf="!contactInfo()">
        {{contact()?.name}}
      </ion-title>
      <ion-title *ngIf="contactInfo()">
        {{contactInfo()?.nickname}}
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content (fileChange)="sendFile($event)" ngfDrop [(files)]="file">
  <app-chat *ngIf="contact() && contactInfo()" [contact]="contact()" [contactInfo]="contactInfo()"></app-chat>
</ion-content>
<emoji-mart *ngIf="showEmoji" class="emoji-mart" [style]="{ position: 'absolute', bottom: '60px', left: '0px' }"
  (emojiClick)="addEmoji($event)"
  [i18n]="{ search: 'Recherche', categories: { search: 'Recentes', recent: 'Recentes' } }"></emoji-mart>
<ion-footer class="endChatPage">
  <ion-item class="container">
    <ion-item button (click)="openEmoji()">
      <ion-icon name="happy-outline"></ion-icon>
    </ion-item>
    <ion-item button ngfSelect [(files)]="file" accept="image/*" (fileChange)="sendFile($event)">
      <ion-icon name="folder-outline"></ion-icon>
    </ion-item>
    <ion-textarea [clearOnEdit]="true" class="custom" type="text" placeholder="Mensagem" #txtaMsg> </ion-textarea>
    <ion-item button (click)="sendMessage(txtaMsg)"><ion-icon name="send"></ion-icon>
    </ion-item>
  </ion-item>
</ion-footer>
