
  <div id="chat-container">
      <!-- <app-avatar></app-avatar>
    <div class="bubble *ngIf='!message.from'">
      <strong>{{ message.from }}</strong>
        <p>{{ message.body }}</p>

    </div>
    <div class="bubble right" *ngIf="message.to">
      <app-avatar></app-avatar>
       <strong>{{message.to}}</strong>
        <p>{{message.body}}</p>
    </div> -->

    <!-- ### Utilizer essa ####  -->
    <div class="content" [ngClass]="message.from">
      <app-avatar></app-avatar>
      <div class="bubble">
        <strong>
          {{message.from}}
        </strong>
        <p>
          {{message.body}}
        </p>
      </div>
    </div>
    <div class="content right" [ngClass]="message.to" >
      <app-avatar></app-avatar>
      <div class="bubble right">
        <strong>
          {{message.to}}
        </strong>
        <p>
          {{message.body}}
        </p>
      </div>
    </div>
  </div>
  <!-- ################### -->

