
<div id="chat-container">
    <div class="content" *ngIf="contact()?.jid === message()!.to">
      <app-avatar [user]="contact()"></app-avatar>
      <div class="bubble">
        <strong>
          {{message()!.from}}
        </strong>
        <p>
          {{message()!.body}}
        </p>
        <p>{{message()!.timestamp | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
      </div>
    </div>
    <div class="content right" *ngIf="contact()?.jid === message()!.from">
      <app-avatar [user]="contact()"></app-avatar>
      <div class="bubble right">
        <strong>
          {{message()!.from}}
        </strong>
        <p>
          {{message()!.body}}
        </p>
        <p>{{message()!.timestamp | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
      </div>
    </div>

