.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
}

ion-avatar {
  min-width: 35px;
  min-height: 35px;
  width: 35px;
  height: 35px;
  outline: 1.5px solid;
  margin-left: 5px;
}

.logo{
  width: 190px;
    justify-content: space-around;
    display: flex;
    --backgroud:tranparent;
}
